<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper post">
		{{ partial "head.html" . }}

		<div class="post-header">
			<h3 class="title">{{ .Title }}</h3>
			<!--<div class="meta">Posted on &mdash; {{ dateFormat "Jan 2, 2006" .Date }}</div>
			make this conditional.... or maybe not-->
		</div>

		<div class="markdown">
			{{ .Content }}
		</div>
	</div>
	{{ partial "footer.html" . }}
	{{- with .Site.Params.Social -}}
	<script>feather.replace()</script>
	{{- end -}}
</body>
</html>
