<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		 {{ partial "head.html" . }}

		<div class="recent-posts section">
			<div class="posts">
				<h3>Recent Posts</h3>
				{{- $.Scratch.Set "counter" 0 -}}
				{{- range .Data.Pages -}}
				{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
				{{- else -}}
				{{- if lt ($.Scratch.Get "counter") (.Site.Params.RecentPostsCount | default 10) -}}
				<li class="post">
					<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}</span>
				</li>
				{{- $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) -}}
				{{- end -}}
				{{- end -}}
				{{- end -}}
				<a href="/posts">All Posts →</a>
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
	{{ template "_internal/google_analytics_async.html" . }}
	{{- with .Site.Params.Social -}}
	<script>feather.replace()</script>
	{{- end -}}
</body>
</html>
